ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    overflow-y:auto;
    height:100%;
  }
  
  ul li{
    display:inline-block;
    clear: both;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 70%;
    word-wrap: break-word;
    text-align: left;
  }
  
  .system{
    background: #e6e6e6;
    float: left;
    border-bottom-left-radius: 5px;
  }
  
  .user{
    float: right;
    background: #0084ff;
    color: #fff;
    border-bottom-right-radius: 5px;
  }
  
  .system + .user{
    border-bottom-right-radius: 5px;
    margin-top: 10px;
  }

  .user + .system{
    border-bottom-left-radius: 5px;
    margin-top: 10px;
  }

  .user + .user{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .system + .system{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  /* Round Last Bubble */
  /* .user:last-of-type {
    border-bottom-right-radius: 30px;
  }

  .system:last-of-type {
    border-bottom-left-radius: 30px;
  } */